*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: beige;
}

header{
    background-color: aquamarine;
}
.container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.main-container{
    margin: auto;
    width: 80%;
}

#nav-right ul li{
    list-style: none;
}
#nav-right ul li a{
    text-decoration: none;
    color: black;
}
#nav-left li{
    float: left;
    list-style: none;
    margin-right: 20px;
}
#nav-left ul li a{
    text-decoration: none;
    color: black;
}

.card-body{
    font-size: 15px;
}

.card-footer a{
    font-size: 14px;
    text-decoration: none;
}
footer{
    background-color: aquamarine;
    padding: 10px 20px;
    text-align: center;
}


